<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ошибка авторизации</title>

<!--  Need to refactor so it takes fonts from project inctead of a site-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/unauthorized.css">
</head>

<body class="page">
<div class="unauthorized">
  <span class="h1 unauthorized__title">Ошибка авторизации</span>
  <p class="unauthorized__error">Пожалуйста, войдите в систему.</p>
  <div class="unauthorized__form">
    <p class="unauthorized__info">Перенаправление на страницу авторизации через <span id="countdown">5</span> секунд...</p>
    <a href="/auth" class="button unauthorized__button">Вернуться на страницу авторизации</a>
  </div>
</div>

<script src="/js/unauthorized.js"></script>

</body>
</html>
